/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

.container {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
}
.btn-primary, .btn-success, .btn-danger, .btn-warning {
	color: #ffffff !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: #c83737;
}
.nav-pills > li a:hover, .nav-pills > li:hover {
	color: #000000;
}
.last-updated {
	font-weight: bold;
}


