// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-img {
	border: solid 2px #dfdfdf;
}
.price {
	font-weight: bold;
	background: #00aa44;
	color: #ffffff;
	padding: 2px 4px;
	border-radius: 5px;
}